In [151]:
import pandas as pd
df = pd.read_csv("heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [152]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [153]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

# Treat Outliers

In [154]:
df.keys()

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [155]:
def z_score(col):
    return col.mean()+3 * col.std()

In [156]:
dataset = df[df['Cholesterol'] <= z_score(df['Cholesterol'])]

In [157]:
dataset = dataset[dataset['RestingBP'] <= z_score(dataset['RestingBP'])]

In [158]:
dataset = dataset[dataset['Oldpeak'] <= z_score(dataset['Oldpeak'])]

Transforming Categorical Features

In [159]:
dataset.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [160]:
dataset.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [161]:
dataset.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [162]:
dataset.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [163]:

dataset.replace({
    'RestingECG': {
        'Normal': 0,
        'ST': 1,
        'LVH': 2
    },
    'ExerciseAngina': {
        'N': 0,
        'Y': 1
    },
    'ST_Slope': {
        'Up': 0,
        'Flat': 1,
        'Down': 2
    },
}, inplace=True)

dataset.head()

C:\Users\91630\AppData\Local\Temp\ipykernel_2080\2688330976.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset.replace({

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,0,172,0,0.0,0,0
1,49,F,NAP,160,180,0,0,156,0,1.0,1,1
2,37,M,ATA,130,283,0,1,98,0,0.0,0,0
3,48,F,ASY,138,214,0,0,108,1,1.5,1,1
4,54,M,NAP,150,195,0,0,122,0,0.0,0,0

In [164]:
dataset = pd.get_dummies(dataset, drop_first=True)
dataset.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,0,172,0,0.0,0,0,True,True,False,False
1,49,160,180,0,0,156,0,1.0,1,1,False,False,True,False
2,37,130,283,0,1,98,0,0.0,0,0,True,True,False,False
3,48,138,214,0,0,108,1,1.5,1,1,False,False,False,False
4,54,150,195,0,0,122,0,0.0,0,0,True,False,True,False

In [165]:
X = dataset.drop('HeartDisease', axis=1)
y = dataset.HeartDisease
X.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,0,172,0,0.0,0,True,True,False,False
1,49,160,180,0,0,156,0,1.0,1,False,False,True,False
2,37,130,283,0,1,98,0,0.0,0,True,True,False,False
3,48,138,214,0,0,108,1,1.5,1,False,False,False,False
4,54,150,195,0,0,122,0,0.0,0,True,False,True,False

In [166]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42896269,  0.46089071,  0.85238015, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-0.47545956,  1.5925728 , -0.16132855, ..., -0.4836591 ,
         1.86750159, -0.22914788],
       [-1.74679706, -0.10495034,  0.79657967, ...,  2.06757196,
        -0.53547478, -0.22914788],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ..., -0.4836591 ,
        -0.53547478, -0.22914788],
       [ 0.37209878, -0.10495034,  0.35947592, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-1.64085227,  0.3477225 , -0.20782894, ..., -0.4836591 ,
         1.86750159, -0.22914788]])

In [167]:
# df['HeartDisease'].value_counts()
dataset['HeartDisease'].value_counts()

HeartDisease
1    495
0    407
Name: count, dtype: int64

In [168]:
407/495

0.8222222222222222

In [169]:
from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, stratify=y, random_state=20)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=20)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((721, 13), (181, 13), (721,), (181,))

In [170]:
y_train.value_counts()

HeartDisease
1    404
0    317
Name: count, dtype: int64

In [171]:
325/396

0.8207070707070707

In [172]:
# svm model

from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

cross_val_score(SVC(), X_scaled, y, cv=5).mean()

0.8159054634745242

In [173]:
# bagging model

from sklearn.ensemble import BaggingClassifier

bag = BaggingClassifier(
    estimator=SVC(),
    n_estimators=100,
    max_samples=0.8,
    random_state=0
)
cross_val_score(bag, X_scaled, y, cv=5).mean()

0.8159116022099446

---

In [174]:
from sklearn.tree import DecisionTreeClassifier
cross_val_score(DecisionTreeClassifier(random_state=0), X_scaled, y, cv=5).mean()

0.7182934315531001

In [175]:
bag = BaggingClassifier(
    estimator=DecisionTreeClassifier(random_state=0),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)
cross_val_score(bag, X_scaled, y, cv=5).mean()

0.8059177409453653

---

In [176]:
from sklearn.ensemble import RandomForestClassifier
cross_val_score(RandomForestClassifier(), X_scaled, y, cv=5).mean()

0.8181338244321669

__Random forest gave even better performance. Underneath it used bagging where it sampled not only data rows but also the columns (or features)__